**{
  margin: 0;
  padding: 0;
}
body{
    background-color: rgb(76, 76, 247);
}
header{
    text-align: center;
    font: 16pt  arial;
    color: white;
    
}
main{
    text-align: center;
}
.gerenciador{
    display: inline;
    width: 171px;
    height: 20px;
}
.gerenciador input{
    background-color: rgb(231, 228, 228);  
}
.lista{
    color: white
}
footer{
    margin-top: 400px;
    text-align: center;
}
footer p{
    text-decoration:underline black;
    color: white;
}